In [2]:
# for manipulations
import pandas as pd
import numpy as np

# for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# for interactivity
from ipywidgets import interact

In [3]:
# read dataset
data=pd.read_csv('data.csv')

In [4]:
# chech the shape of dataset
print("shape of the dataset: " ,data.shape)

shape of the dataset:  (2200, 8)

In [5]:
# head of the dataset
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
# check if there is missing values in the dataset
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [7]:
# check the crops present in the dataset
data['label'].value_counts()

pigeonpeas     100
grapes         100
mungbean       100
chickpea       100
watermelon     100
rice           100
muskmelon      100
jute           100
cotton         100
apple          100
orange         100
papaya         100
pomegranate    100
mothbeans      100
blackgram      100
coconut        100
kidneybeans    100
mango          100
maize          100
banana         100
lentil         100
coffee         100
Name: label, dtype: int64

In [12]:
# check summary of all crops

print(f"Average Ratio of Nitrogen in the soil :{ data['N'].mean():.2f}")
print(f"Average Ratio of Phosphorous in the soil :{ data['P'].mean():.2f}")
print(f"Average Ratio of Potassium in the soil :{ data['K'].mean():.2f}")
print(f"Average Temperature in Celsius :{ data['temperature'].mean():.2f}")
print(f"Average Relative Humidity in % :{ data['humidity'].mean():.2f}")
print(f"Average PH value of the soil:{ data['ph'].mean():.2f}")
print(f"Average Rainfall in mm:{ data['rainfall'].mean():.2f}")

Average Ratio of Nitrogen in the soil :50.55
Average Ratio of Phosphorous in the soil :53.36
Average Ratio of Potassium in the soil :48.15
Average Temperature in Celsius :25.62
Average Relative Humidity in % :71.48
Average PH value of the soil:6.47
Average Rainfall in mm:103.46

In [25]:
# lets check the summary statistics for each of the crops

@interact
def summary(crops=list(data['label'].value_counts().index)):
    x = data[data['label']==crops]
    print('-----------------------------------------------')
    print('Statistics for Nitrogen')
    print('Minimum Nitrogen required : ',x['N'].min())
    print('Average Nitrogen required : ',x['N'].mean())
    print('Maximum Nitrogen required : ',x['N'].max())
    print('-----------------------------------------------')
    print('Statistics for Phosphorous')
    print('Minimum Phosphorous required : ',x['P'].min())
    print('Average Phosphorous required : ',x['P'].mean())
    print('Maximum Phosphorous required : ',x['P'].max())
    print('-----------------------------------------------')
    print('Statistics for Potassium')
    print('Minimum Potassium required : ',x['K'].min())
    print('Average Potassium required : ',x['K'].mean())
    print('Maximum Potassium required : ',x['K'].max())
    print('-----------------------------------------------')
    print('Statistics for Temperature')
    print('Minimum Temperature required : ',x['temperature'].min())
    print('Average Temperature required : ',x['temperature'].mean())
    print('Maximum Temperature required : ',x['temperature'].max())
    print('-----------------------------------------------')
    print('Statistics for Humidity')
    print('Minimum Humidity required : ',x['humidity'].min())
    print('Average Humidity required : ',x['humidity'].mean())
    print('Maximum Humidity required : ',x['humidity'].max())
    print('-----------------------------------------------')
    print('Statistics for PH')
    print('Minimum PH required : ',x['ph'].min())
    print('Average PH required : ',x['ph'].mean())
    print('Maximum PH required : ',x['ph'].max())
    print('-----------------------------------------------')
    print('Statistics for Rainfall')
    print('Minimum Rainfall required : ',x['rainfall'].min())
    print('Average Rainfall required : ',x['rainfall'].mean())
    print('Maximum Rainfall required : ',x['rainfall'].max())

interactive(children=(Dropdown(description='crops', options=('pigeonpeas', 'grapes', 'mungbean', 'chickpea', 'â€¦